/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{
    /* Primary colors */
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    /* Neutral colors */
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);

    /* Extra colors */
    --White: hsl(0, 0%, 100%);
    --Bright-Yellow-Hover: hsl(71, 63%, 48%);
}
html{
    font-size: 1em;
}
body{
    min-height: 100vh;
    background-color: var(--Light-Gray);
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    padding: 4em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.container{
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border-radius: .5em;
    box-sizing: border-box;
    box-shadow: 0 0 .75em rgba(0, 0, 0, .1);
    display: grid;
}
.container__section{
    width: 100%;
    padding: 2em 1.5em;
    box-sizing: border-box;
}
.thirty-day{
    background-color: var(--White);
}
.monthly-sub{
    background-color: var(--Cyan);
}
.why-us{
    background-color: var(--Cyan);
    opacity: .8;
}
.container__section__title{
    color: var(--Cyan);
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 1.5em;
}
.container__section__subtitle{
    color: var(--White);
    font-size: 1.15rem;
    font-weight: 700;
    margin: 0 0 1em;
}
.green-title{
    color: var(--Bright-Yellow);
    font-size: 1rem;
}
.container__section__text{
    max-width: 32.6875rem;
    color: var(--Light-Gray);
    font-size: .9rem;
    margin: 0;
}
.gray-color{
    color: var(--Grayish-Blue);
    line-height: 1.75em;
}
.container__section__subscription{
    color: rgba(229, 239, 245, .5);
    font-size: .9rem;
    margin: 0 0 .75em;
    display: flex;
    align-items: center;
    gap: 1em;
}
.container__section__price{
    color: var(--White);
    font-size: 2em;
    font-weight: 700;
    display: inline-block;
}
.container__section__btn{
    width: 100%;
    background-color: var(--Bright-Yellow);
    color: var(--White);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 0.4em;
    box-shadow: .75em .75em .75em rgba(0, 0, 0, 0.125);
    padding: 1em 0;
    margin-top: 2em;
    cursor: pointer;
    display: block;
}
.container__section__btn:hover{
    transition: all 0.2s ease-in-out;
    background-color: var(--Bright-Yellow-Hover);
}
.why-us-text{
    font-family: 'Karla', sans-serif;
    line-height: 1.5em;
    text-align: left;
    white-space: pre-line;
    opacity: .75;
}
.footer__attribution{
    color: var(--Cyan);
    font-size: 0.6875rem;
    text-align: center;
}
a {
    color: var(--Bright-Yellow-Hover);
    font-weight: 700;
}
a:hover{
    transition: all .2s ease;
    color: var(--Bright-Yellow);
}
@media(min-width:38.125rem){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .container__section{
        padding-inline: 2.5em;
    }
    .thirty-day{
        grid-column-end: span 2;
    }
}
@media(min-width: 67.5rem){
    body{
        margin-bottom: 0;
        padding: 0;
    }
}
